.logo {
    display: block;
    margin: auto;
    margin-top: 7%;
    width: 30%;
    height: 60px;
    margin-bottom: 6%;
}

@media screen and (max-width:900px) {

    .logo {
        display: block;
        margin: auto;
        margin-top: 30%;
        width: 80%;
        height: 60px;
        margin-bottom: 30%;
    }

}